<!-- property_management/templates/add_rental_info.html -->

{% extends 'base.html' %}

{% block title %}Add Rental Information for {{ property.name }} - {{ unit.unit_type }}{% endblock %}

{% block content %}
 {% if user.is_authenticated and user.is_staff %}
  <h2 class="mt-4 mb-4">Add Rental Information for {{ property.name }} - {{ unit.unit_type }}</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <button type="submit" class="btn btn-primary">Add Rental Information</button>
        </form>
        <a href="{% url 'unit_detail' property.id unit.id %}" class="btn btn-secondary mt-3">Back to Unit Details</a>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
