<!-- property_management/templates/property_list.html -->

{% extends 'base.html' %}

{% block title %}Property List{% endblock %}

{% block content %}
<h2 class="mt-4 mb-4"><center>Property List</center></h2>
  <div class="container">
    <div class="row">
      {% for property in properties %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">{{ property.name }}</h3>
              <p class="card-text"><strong>Address:</strong> {{ property.address }}</p>
              <p class="card-text"><strong>Location:</strong> {{ property.location }}</p>
              <p class="card-text"><strong>Features:</strong> {{ property.features }}</p>
              <a href="{% url 'property_detail' property.id %}" class="btn btn-primary">View Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
