<!-- property_management/templates/tenant_form.html -->

{% extends 'base.html' %}

{% block title %}Tenant Form{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
<h2 class="mt-4 mb-4"><center>Add Tenant</center></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'tenant_list' %}" class="btn btn-secondary">Cancel</a>
  </form>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
