<!-- property_management/templates/tenant_list.html -->

{% extends 'base.html' %}

{% block title %}Tenant List{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
<h2><center>Tenant List</center></h2>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Document Proof</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for tenant in tenants %}
          <tr>
            <td>{{ tenant.name }}</td>
            <td>{{ tenant.address }}</td>
            <td>
              {% if tenant.document_proof %}
                <a href="{{ tenant.document_proof.url }}" target="_blank">View Document</a>
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>
              <a href="{% url 'tenant_profile' tenant.id %}" class="btn btn-primary btn-sm">View Profile</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endblock %}
